<%= form_for(@asteroid) do |f| %>
  <% if @asteroid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asteroid.errors.count, "error") %> prohibited this asteroid from being saved:</h2>

      <ul>
      <% @asteroid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ref_num %><br>
    <%= f.text_field :ref_num %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
