<p id="notice"><%= notice %></p>

<p>
  <strong>Date taken:</strong>
  <%= @galery.date_taken %>
</p>

<p>
  <strong>Asteroid:</strong>
  <%= @galery.asteroid %>
</p>

<%= link_to 'Edit', edit_galery_path(@galery) %> |
<%= link_to 'Back', galeries_path %>
